.all-container {
	width: auto;
	background-color: #222222;
	margin: 0.5em;
	text-align: left;
	padding: 1.5em;
}

body {
	background-image: url('https://images.freeimages.com/images/small-previews/e54/texture-17-1172591.jpg');
	background-color: #cccccc;
	font-family: 'Courier New', Courier, monospace;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

h1,
h2 {
	color: #ff0099;
}

h3 {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.main {
	display: flex;
	margin: 5em;
}

p {
	font-size: 1em;
	color: #38ff12;
	font-family: 'Courier New', Courier, monospace;
}

.synth {
	flex: 2fr;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
